body {
  background-color: #313030;
  margin: 0.2em;
  font-family: "Oswald";
}

.bg-light {
  background-color: #ffffff !important;
  border-radius: 1em 1em 0em 0em;
}

@media (max-width: 992px) {
  .navbar-light .navbar-brand {
    color: rgba(0, 0, 0, 0.9);
    text-align: center;
  }
  .navbar-collapse {
    position: fixed;
    top: 76px;
    left: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    width: 75%;
    height: 100%;
  }

  .navbar-collapse.collapsing {
    left: -75%;
    transition: height 0s ease;
  }

  .navbar-collapse.show {
    left: 0;
    transition: left 100ms ease-in-out;
    background-color: white;
    width: auto;
    height: auto;
    margin: 0.2em;
    text-align: center;
  }

  .navbar-toggler.collapsed ~ .navbar-collapse {
    transition-timing-function: ease-in;
  }
  .form-inline .form-control {
    font-size: small;
  }
  .btn-outline-info {
    font-size: small;
  }
  .nav {
    display: none;
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav {
    display: none !important;
  }
  .form-inline .form-control {
    font-size: small;
    width: 50%;
  }
  .nav-link {
    display: block;
    padding: 0.3em;
    color: white;
  }
  .nav-item {
    color: #fff;
    background-color: #313030;
    border-radius: 1em 1em 0em 0em;
    margin-left: 1em;
    width: 20%;
    text-align: center;
    text-transform: uppercase;
  }
  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    color: #c60203;
    background-color: #ffffff;
    font-weight: bold;
  }
  .nav-pills .nav-link {
    border-radius: 0;
  }
  .nav-pills {
    height: auto;
    justify-content: center;
  }

  a:hover {
    color: #c60203;
  }
  .btn-outline-info:hover {
    margin-left: 0.1em;
    color: #ffffff;
    border-color: #313030;
    background-color: #313030;
  }
}

.form-inline {
  display: flex;
  flex-flow: row;
  align-items: center;
}
.form-control {
  border: 1px solid #313030;
}
.btn-outline-info {
  margin-left: 0.1em;
  color: #ffffff;
  border-color: #313030;
  background-color: #313030;
}

.btn-dark {
  color: #fff;
  background-color: #313030;
  border-color: #313030;
  font-size: smaller;
}

.logopanier {
  margin: auto;
  margin-right: 1em;
  margin-left: auto;
}
.content {
  background: #ffffff;
  margin-top: 0.3em;
}
