body {
  background-color: rgb(44, 49, 54);
  margin: 1em;
  font-family: "Montserrat", sans-serif;
}

.bg-light {
  background-color: #ffffff;
  border-radius: 1em 1em 0em 0em;
}

#searchInput {
  background: #ffffff;
  border: 1px solid #e0e0d0;
  border-radius: 1em;
  width: 200px;
  height: 40px;
  font-size: 2ch;
  border-color: rgb(0, 0, 0);
  color: #595949;
}

#navbarContent {
  text-align: left;
  margin: 20px 15px;
}

#panier {
  width: 40px;
  height: 40px;
  margin: 4px;
}

#in-cart-items-num {
  margin: 19px;
}

.dropdown:hover > #cart-dropdown {
  display: block;
}

#carouselControls {
  height: 200px;
}

.bg-white {
  background-color: #ffffff;
  border-radius: 0em 0em 1em 1em;
}

.modal-title {
  text-align: center;
}
