#container {
  background-color: #9fa8da;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#container2 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.newLogo {
  background-color: ;
}

.newLogo img {
  height: 25vh;
}

.baseline {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 25px;
  color: ;

  color: darkblue;
  font-weight: bold;
  text-decoration: none;
}

.menu {
  margin-top: auto;
  margin-bottom: 8px;
  margin-right: 20px;
}

.menu a {
  background-color: ;
  font-size: 20px;
  color: darkblue;
  font-weight: ;
  text-decoration: none;
}

.menu a:hover {
  color: white;
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20 px;
}

body {
  background-color: #e3e2e1;
  display: flex;
  flex-direction: column;
  color: rgb(50, 50, 50);
}

/* CSS projets */
.main {
  background-color: ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vw;
}

 h1 {
  margin-bottom: 100px;
  text-align: center;
}

#projets {
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
  margin-bottom: 100px;
  border: 0px solid red;
  padding: 0px;
  align-items: center;
  margin-right: 20px;
  margin-left: 20px;
}

#listeProjets {
  display: flex;
  margin-top: 0px;
}

#listeProjets a:hover {
  background-color: white;
}

#listeProjets a {
  border: solid orange 1px;
  padding: 10px;
  margin: 5px;
  text-decoration: none;
}

.contenu {
  display: none;
}

.contenu:target {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 20px;
}

.contenu:target h2,
p {
  margin-top: 20px;
}

.headerContenu {
  display: flex;
  justify-content: center;
}

.closebtn {
  text-decoration: none;
  font-size: 35px;
  font-weight: bold;
  color: orange;
  margin: 15px 0 0 50px;
}

.closebtn:hover,
.closebtn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.references {
  display: flex;
  justify-content: space-between;
}

footer {
  padding-bottom: 20px;
}
/* CSS bouton Créer un projet */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
  background-color: rgb(230, 230, 230);
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.textMiddle {
  text-align: center;
}

#formTitle {
  margin-bottom: 40px;
  font-weight: 700;
}

#formCreateProject div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.formField,
select {
  min-width: 200px;
}

#createProject {
  width: 10vw;
  height: 4vh;
  background-color: #9fa8da;
}

#submitProject {
  width: 10vw;
  height: 4vh;
  background-color: #9fa8da;
}

footer {
  background-color: #9fa8da;
  /*   border-top: 2px solid black; */
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
}

.copyrights {
  margin-left: 10vw;
}
.contact {
  margin-right: 10vw;
}
