body {
  background-color: #313030;
  margin: 0.2em;
}

.bg-light {
  background-color: white !important;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.search {
  width: 85%; */
  border-radius: 5px;
  margin-left: 8%;
  padding: 1%;
}
/*Transition menu*/
.navbar-collapse {
  position: fixed;
  top: 76px;
}

.navbar-collapse.collapsing {
  left: -75%;
  transition: height 0s ease;
}

.navbar-collapse.show {
  left: 0;
  transition: left 300ms ease-in-out;
  background-color: white;
  margin: 0.2em;
  padding: 2em;
}

.navbar-toggler.collapsed ~ .navbar-collapse {
  transition: left 500ms ease-in-out;
}

.navbar-basket img {
  margin-left: -60%;
  margin-top: -30%;
}
/*Fin transition Menu*/

@media (min-width: 992px) {

  .navbar-collapse.show{
    margin:0 2%  -5% 0 !important;
    
  }

  ul li {
    background-color: #313030;
    margin-left: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 25px;
    padding-right: 25px;
   
  }

  .navbar-collapse{
    position:static;
    justify-content: flex-end;
    
    
  }

  

  .navbar-light .navbar-nav .nav-link {
    color: white;
  }

  .navbar-light .navbar-nav .active > .nav-link,
  .navbar-light .navbar-nav .nav-link:hover {
    color: white;
    font-weight: bold;
  }

  .navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 !important;
  }

  .navbar-brand img {
    /* margin-left: 12%; */
    height: 100px;
    width: 400px;
  }

  .navbar-basket img {
    width: 60px;
    height: 65px;
  }
}

@media (max-width: 300px) {
  .navbar-brand img {
    height: 30px;
    width: 80px;
    margin-left: 8px;
    margin-top: 0;
  }

  .navbar-toggler,
  .navbar-toggler-icon {
    width: 15px;
    height: 15px;
  }

  .navbar-toggler-icon {
    margin-left: -8px;
    margin-top: -20px;
  }
  .navbar-basket img {
    margin-left: 0%;
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 200px) {
.navbar-brand img {
  height: 15px;
  width: 40px;
  margin-left: 8px;
  margin-top: 0;
}

.navbar-toggler,
.navbar-toggler-icon {
  width: 5px;
  height: 5px;
  margin-top:20px;
}

.navbar-toggler-icon {
  margin-left: -8px;
  margin-top: -20px;
}
.navbar-basket img {
  margin-left: 0%;
  width: 10px;
  height: 10px;
}


}

@media (max-width: 150px) {
  .navbar-brand img {
    height: 15px;
    width: 30px;
    margin-left: 8px;
    margin-top: 0;
  }
  
 
  
  .navbar-toggler-icon {
    margin-left: -3px;
    margin-top: -20px;
  }
  .navbar-basket img {
    margin-left: 0%;
    width: 10px;
    height: 10px;
  }

  .navbar-collapse {
  
   font-size: 0.75em;
   
  }

  .search{
    font-size:0.75em ;
  }

  .navbar-toggler{
   font-size:0.9em;
   padding:0.25em 0.25em;
  }
 
  }
