body {
  background-color: #313030;
  margin: 0.2em;
}

.bg-light {
  background-color: white !important;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.search {
  border-radius: 5px;

  padding: 1%;
}

.search input {
  font-style: italic;
  width: 25vw;
}

.btn-search,
.btn-connection {
  background-color: #313030;
  color: white;
  border-radius: 5px;
}
/*Transition menu*/
.navbar-collapse {
  position: fixed;
  top: 70px;
}

.navbar-collapse.collapsing {
  left: -75%;
  transition: height 0s ease;
}

.navbar-collapse.show {
  left: 0;
  transition: left 300ms ease-in-out;
  background-color: white;
  margin: 0.2em;
  padding: 2em;
}

.navbar-toggler.collapsed ~ .navbar-collapse {
  transition: left 500ms ease-in-out;
}

/*Fin transition Menu*/

@media (min-width: 992px) {
  ul li {
    background-color: #313030;
    margin-left: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .navbar-collapse {
    position: static;
    margin-bottom: -20px;
  }

  .navbar-light .navbar-nav .nav-link {
    color: white;
  }

  .navbar-light .navbar-nav .active > .nav-link,
  .navbar-light .navbar-nav .nav-link:hover {
    color: white;
    font-weight: bold;
  }
}

@media (max-width: 991px) {
  .btn-connection,
  .basket-p {
    display: none;
  }

  .navbar {
    flex-wrap: nowrap !important;
  }

  .basket {
    border: none !important;
  }

  .navbar-basket img {
    margin-top: -20px;
    height: 50%;
    width: 50%;
  }
}

@media (max-width: 827px) {
  .btn-search {
    font-size: 0.5em;
  }

  .search input {
    width: 75%;
    margin-left: -50px;
  }
}
