/*font-family: 'Roboto', sans-serif;*/
body {
  background-color: #313030;
  font-family: "Roboto", sans-serif;
  margin: 0.2em;
}

/******************************* HEADER DAVID *******************************/
.header {
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.search input {
  font-style: italic;
  width: 60vw;
}

.search {
  z-index: 12;
}

.btn-search,
.btn-connection,
.btn-smally {
  background-color: #313030;
  color: white;
  border-radius: 5px;
}

/*Transition menu*/
.navbar-collapse {
  position: fixed;
  top: 70px;
  z-index: 10;
  width: 250px;
}

.navbar-collapse.collapsing {
  left: -75%;
  transition: height 0s ease;
}

.navbar-collapse.show {
  left: 0;
  transition: left 300ms ease-in-out;
  background-color: white;
  margin: 0.2em;
  padding: 2em;
}

.navbar-toggler.collapsed ~ .navbar-collapse {
  transition: left 500ms ease-in-out;
}

/*Fin transition Menu*/

@media (min-width: 992px) {
  ul li {
    background-color: #ffffff;
    margin-left: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .navbar-collapse {
    position: static;
    margin-bottom: -20px;
  }

  .navbar-light .navbar-nav .nav-link {
    color: white;
  }

  .navbar-light .navbar-nav .active > .nav-link,
  .navbar-light .navbar-nav .nav-link:hover {
    color: white;
    font-weight: bold;
  }

  .smally {
    display: none;
  }

  .search input {
    width: 30vw;
  }
}

@media (max-width: 991px) {
  .btn-connection,
  .basket-p {
    display: none;
  }

  .basket {
    border: none !important;
  }

  .navbar-brand img {
    width: 150px;
    height: 50px;
  }
}

@media (max-width: 576px) {
  .btn-search {
    font-size: 0.5em;
  }

  .search input {
    font-size: 0.5em;
    width: 40vw;
  }
}

@media (max-width: 320px) {
  .navbar-brand img {
    width: 100px;
    height: 50px;
  }
}

/******************************* CONTENT ALAIN *******************************/

/* .couverture {
    width: 100%;
} */

@media all and (min-width: 576px) {
  #contentTitre {
    display: flex;
    justify-content: center;
  }
  #achat {
    margin-top: 10%;
  }
}

/******************************* FOOTER YANNICK *******************************/
.footer {
  background: #ffffff;
  border-radius: 0em 0em 1em 1em;
  margin-top: 0.3em;
  position: sticky;
  width: 100%;
  height: auto;
}

hr {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

a {
  color: #313030;
}

a:hover {
  color: red;
}

@media (max-width: 992px) {
  .legal {
    display: flex;
    flex-direction: column;
  }

  .legal a {
    padding: 0.1em;
  }
}

@media (min-width: 992px) {
  .copyright {
    font-size: 1em;
  }

  .legal a {
    padding: 1em;
  }
}

/* Cart */
.cart {
  background: #ffffff;
  border-radius: 0px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  padding: 15px;
  position: relative;
  transition: 0.8s ease-out;
}
.cart .adding {
  background: #f46472;
  transform: scale(1.5);
}
.cart p {
  margin: 0;
}
.cart-dropdown .dropdown-menu {
  box-shadow: 1px 1px 4px #ff0000;
}
.cart-dropdown .dropdown-menu > li > small {
  color: #ffffff;
}
.logo img {
  margin-top: 20px;
  position: relative;
}
ul li {
  background-color: #ffffff;
  margin-left: 5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-left: 25px;
  padding-right: 25px;
}
@media (max-width: 480px) {
  .logo img {
    width: 80%;
  }
}
.go-to-cart {
  background: white;
}
#empty-cart-msg {
  background: white;
}
.dropdown:hover > #cart-dropdown {
  display: block;
}
.purchase-infos {
  text-align: center;
  display: block;
}
.purchase-infos a {
  color: #000000;
  display: inline-block;
  margin: 5px 0 23px;
}
.purchase-infos a:hover {
  text-decoration: none;
}
.cart-tablebody {
  background: #fff;
}
.qt-plus,
.qt-minus {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.qt-plus:hover,
.qt-minus:hover {
  background-color: #828181;
}
.delete-item {
  cursor: pointer;
}
